html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: gray;
}
#container {
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 100%;
    background-color: gray;
    
}
#content{
  background-color: white;
  padding: 10px
}
#map {
    height: 100%;
    width: 100%;
    
}
#right{
    width:100%;
    padding: 20px;
}

#myRange{
  width: 75%;
}
form button{
  margin-left: 10px!important;
}
.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }

#vaccineForm{
  display: flex;
}
#logo{
  height: 50px;
  width: 50px;
}

#header_right{
  display:flex
}
table{
  background-color: white;
  max-height: 0 !important;
  transition: max-height 0.3s, padding 0.3s;
  transition: opacity 0.5s linear;  
  transform:translate(0);
  opacity: 1;
}
.hidden {  
  transform:translate(9999px);
  opacity: 0;  
}
table.active{
  max-height: 100% !important;
  transition: max-height 0.6s, padding 0.6s;
}

.overflow{
  height: 150% !important;
}